{{define "content"}}
{{block "sidebar" .}} {{end}}
<main class="container mx-auto p-4" id="content">
    <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
        <button hx-get="/quotes" hx-target="#content" type="button" class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">All</button>
        <button hx-get="/quotes?state=published" hx-target="#content" type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Published</button>
        <button hx-get="/quotes?state=draft" hx-target="#content" type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Draft</button>
        <button hx-get="/quotes?state=archived" hx-target="#content" type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Archived</button>
    </div>
    {{range .Quotes}}
        <div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg p-6  mb-3 mt-3">
            <ul class="space-y-4">
                <li>
                    {{ if eq .State "draft" }}
                        <span class="bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">Draft</span>
                    {{ else if eq .State "published" }}
                        <span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Published</span>
                    {{ else if eq .State "archived" }}
                        <span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">Archived</span>
                    {{ end }}
                    <blockquote class="mt-4 text-xl text-gray-700 italic text-center">"{{ .Text }}"</blockquote>
                    <p class="text-lg text-gray-600 text-right">— {{ .Author }}</p>
                    <a href="/edit_quote/{{.ID}}">Editar</a>
                    <br>
                    <div class="flex justify-end space-x-2">
                        {{ if or (eq .State "published") (eq .State "draft") }}
                            <button hx-put="/phrase_state" hx-ext="json-enc" hx-vals='{"id": {{.ID}}, "state": "archived"}' hx-trigger="click" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Archivar</button>
                        {{ end }}
                        {{ if or (eq .State "archived") (eq .State "draft")}}
                            <button hx-put="/phrase_state" hx-ext="json-enc" hx-vals='{"id": {{.ID}}, "state": "published"}' hx-trigger="click" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Publicar</button>
                        {{ end }}
                    </div>
                    {{ if eq .State "published"}}
                        <h4>Publicado el: {{ .PublishedAt }}</h4>
                    {{ end }}
                </li>
            </ul>
        </div>
    {{end}}

    <div id="quotes-container">
        <!-- Aquí se cargan las frases iniciales -->
    </div>

    <div
            id="load-more-trigger"
            hx-get="/load_quotes?page=2"
            hx-trigger="revealed"
            hx-swap="beforeend"
            hx-indicator="#loading-spinner">
    </div>

    <div id="loading-spinner" style="display: none;">Cargando...</div>
</main>
{{end}}
