{{define "content"}}
{{block "sidebar" .}} {{end}}
<main class="container mx-auto p-4">
    <div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg p-6  mb-3">
        <ul class="space-y-4">
            <li>
                <blockquote class="text-xl text-gray-700 italic text-center">"The only limit to our realization of tomorrow is our doubts of today."</blockquote>
                <p class="text-lg text-gray-600 text-right">- Franklin D. Roosevelt</p>
            </li>
        </ul>
    </div>
    <div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg p-6 mb-3">
        <ul class="space-y-4">
            <li>
                <blockquote class="text-xl text-gray-700 italic text-center">"The only limit to our realization of tomorrow is our doubts of today."</blockquote>
                <p class="text-lg text-gray-600 text-right">- Franklin D. Roosevelt</p>
            </li>
        </ul>
    </div>
    <div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg p-6 mb-3">
        <ul class="space-y-4">
            <li>
                <blockquote class="text-xl text-gray-700 italic text-center">"The only limit to our realization of tomorrow is our doubts of today."</blockquote>
                <p class="text-lg text-gray-600 text-right">- Franklin D. Roosevelt</p>
            </li>
        </ul>
    </div>
</main>
{{end}}
